@using Epsilon.Resources.Web.UserHome

@{
    ViewBag.Title = UserHomeResources.Index_PageTitle;
}

<div class="row">
    <div class="col-md-8">
        <div>
            <my-submissions-summary limit-items-returned="true" is-summary-page="false" allow-caching="true"/>
        </div>
        <div>
            <my-outgoing-verifications-summary limit-items-returned="true" is-summary-page="false" allow-caching="true"/>
        </div>
    </div>

    <div class="col-md-4">
        <div>
            <h3>@UserHomeResources.SectionCreateSubmission_Header</h3>
            <p>
                @UserHomeResources.SectionCreateSubmission_Text
            </p>
            <p><a class="btn btn-default" href="@Url.Action("SearchAddress", "Submission")">@UserHomeResources.SectionCreateSubmission_ButtonText &raquo;</a></p>
        </div>
        <div>
            <h3>@UserHomeResources.SectionPickOutgoingVerification_Header</h3>
            <p>@UserHomeResources.SectionPickOutgoingVerification_Text</p>
            <p>
                @using (Html.BeginForm("Pick", "OutgoingVerification"))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="verificationUniqueId" value="@Guid.NewGuid()" />
                    <input type="hidden" name="returnToSummary" value="false" />
                    <input type="submit" value="@UserHomeResources.SectionPickOutgoingVerification_ButtonText &raquo"
                           data-click-once
                           class="btn btn-default" />
                }
            </p>
        </div>
        <div>
            <h3>@UserHomeResources.SectionExploreProperties_Header</h3>
            <p>@UserHomeResources.SectionExploreProperties_Text</p>
            <p><a class="btn btn-default" href="#">@UserHomeResources.SectionExploreProperties_ButtonText &raquo;</a></p>
        </div>
    </div>
</div>