@using Epsilon.Resources.Web.UserHome
@using Epsilon.Logic.Models

@{
    ViewBag.Title = UserHomeResources.Index_PageTitle;

    var userInterfaceCustomisation = (UserInterfaceCustomisationModel) ViewBag.UserInterfaceCustomisation;
}

<hr />

<div class="row">
    <div class="col-md-8">
        <div>
            <my-submissions-summary limit-items-returned="true" is-summary-page="false" allow-caching="true" />
        </div>
        <div>
            <my-outgoing-verifications-summary limit-items-returned="true" is-summary-page="false" allow-caching="true"/>
        </div>
        <div>
            <my-explored-properties-summary limit-items-returned="true" is-summary-page="false" allow-caching="true" />
        </div>
    </div>

    <div class="col-md-4">
        @if (userInterfaceCustomisation.CanCreateTenancyDetailsSubmission)
        {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                    @(userInterfaceCustomisation.HasNoTenancyDetailsSubmissions ? 
                      UserHomeResources.SectionCreateSubmission_NoPreviousSubmissions_Header :
                      UserHomeResources.SectionCreateSubmission_Header)
                </h4>
            </div>
            <div class="panel-body">
                <p>
                    @(userInterfaceCustomisation.HasNoTenancyDetailsSubmissions ?
                      UserHomeResources.SectionCreateSubmission_NoPreviousSubmissions_Text :
                      UserHomeResources.SectionCreateSubmission_Text)
                </p>
                <p><a class="btn btn-primary" 
                      href="@Url.Action("SearchAddress", "Submission")">
                    @(userInterfaceCustomisation.HasNoTenancyDetailsSubmissions ?
                      UserHomeResources.SectionCreateSubmission_NoPreviousSubmissions_ButtonText :
                      UserHomeResources.SectionCreateSubmission_ButtonText) &raquo;
                   </a>
                </p>
            </div>
        </div>
        }
        @if (userInterfaceCustomisation.CanPickOutgoingVerification)
        {
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>@UserHomeResources.SectionPickOutgoingVerification_Header</h4></div>
            <div class="panel-body">
                <p>@UserHomeResources.SectionPickOutgoingVerification_Text</p>
                <p>
                    @using (Html.BeginForm("Pick", "OutgoingVerification"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="verificationUniqueId" value="@Guid.NewGuid()" />
                        <input type="hidden" name="returnToSummary" value="false" />
                        <input type="submit" value="@UserHomeResources.SectionPickOutgoingVerification_ButtonText &raquo"
                               data-click-once
                               class="btn btn-primary" />
                    }
                </p>
            </div>
        </div>
        }
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>@UserHomeResources.SectionExploreProperties_Header</h4></div>
            <div class="panel-body">
                <p>@UserHomeResources.SectionExploreProperties_Text</p>
                <p>
                    <a class="btn btn-primary" href="@Url.Action("SearchProperty", "PropertyInfo")">
                        @UserHomeResources.SectionExploreProperties_ButtonText &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>