@model Epsilon.Web.Models.ViewModels.Shared.AddressDetailsViewModel

@using Epsilon.Logic.Constants
@using Epsilon.Resources.Common
@using Epsilon.Resources.Web.Submission
@using Epsilon.Logic.Helpers.Interfaces
@using Epsilon.Logic.Constants.Enums
@using Epsilon.Logic.Constants.Interfaces
@using Epsilon.Logic.Services.Interfaces
@using Epsilon.Logic.Helpers

@{
    var countryVariantResourceHelper = DependencyResolver.Current.GetService<ICountryVariantResourceHelper>();
    var countryAddressFieldMetadata = DependencyResolver.Current.GetService<ICountryAddressFieldMetadata>();
    var countryService = DependencyResolver.Current.GetService<ICountryService>();
    
    var tmpEnumCountryId = EnumsHelper.CountryId.Parse(Model.CountryId);
    if (!tmpEnumCountryId.HasValue)
    {
        throw new Exception(String.Format("Uknown CountryId {0}.", Model.CountryId));
    }
    var enumCountryId = tmpEnumCountryId.Value;

    var fieldMetadata = countryAddressFieldMetadata.GetForCountry(enumCountryId);

    var countryVariantResources = countryVariantResourceHelper.GetVariantsForCountry(Model.CountryId,
        new List<string> {
                    CountryVariantResourceName.ADDRESS_LINE1,
                    CountryVariantResourceName.ADDRESS_LINE2,
                    CountryVariantResourceName.ADDRESS_LINE3,
                    CountryVariantResourceName.ADDRESS_LINE4,
                    CountryVariantResourceName.ADDRESS_LOCALITY,
                    CountryVariantResourceName.ADDRESS_REGION,
                    CountryVariantResourceName.ADDRESS_POSTCODE
        });
}

<div class="form-horizontal">
    @if (fieldMetadata.Line1.IsUsed)
    {
        <div class="form-group">
            <label class="control-label col-md-3" for="Line1">@countryVariantResources[CountryVariantResourceName.ADDRESS_LINE1]</label>
            <div class="col-md-9">
                <div>@Model.Line1</div>
            </div>
        </div>
    }

    @if (fieldMetadata.Line2.IsUsed)
    {
        <div class="form-group">
            <label class="control-label col-md-3">@countryVariantResources[CountryVariantResourceName.ADDRESS_LINE2]</label>
            <div class="col-md-9">
                <div>@Model.Line2</div>
            </div>
        </div>
    }

    @if (fieldMetadata.Line3.IsUsed)
    {
        <div class="form-group">
            <label class="control-label col-md-3">@countryVariantResources[CountryVariantResourceName.ADDRESS_LINE3]</label>
            <div class="col-md-9">
                <div>@Model.Line3</div>
            </div>
        </div>
    }


    @if (fieldMetadata.Line4.IsUsed)
    {
        <div class="form-group">
            <label class="control-label col-md-3">@countryVariantResources[CountryVariantResourceName.ADDRESS_LINE4]</label>
            <div class="col-md-9">
                <div>@Model.Line4</div>
            </div>
        </div>
    }

    @if (fieldMetadata.Locality.IsUsed)
    {
        <div class="form-group">
            <label class="control-label col-md-3">@countryVariantResources[CountryVariantResourceName.ADDRESS_LOCALITY]</label>
            <div class="col-md-9">
                <div>@Model.Locality</div>
            </div>
        </div>
    }

    @if (fieldMetadata.Region.IsUsed)
    {
        <div class="form-group">
            <label class="control-label col-md-3">@countryVariantResources[CountryVariantResourceName.ADDRESS_REGION]</label>
            <div class="col-md-9">
                <div>@Model.Region</div>
            </div>
        </div>
    }

    @if (fieldMetadata.Postcode.IsUsed)
    {
        <div class="form-group">
            <label class="control-label col-md-3">@countryVariantResources[CountryVariantResourceName.ADDRESS_POSTCODE]</label>
            <div class="col-md-9">
                <div>@Model.Postcode</div>
            </div>
        </div>
    }

    <div class="form-group">
        <label class="control-label col-md-3">@CommonResources.Country</label>
        <div class="col-md-9">
            <div>@countryService.GetCountryDisplayName(Model.CountryId)</div>
        </div>
    </div>
</div>

