@model Epsilon.Web.Models.ViewModels.Shared.AddressDetailsViewModel

@using Epsilon.Resources.Common
@using Epsilon.Resources.Web.Submission
@using Epsilon.Logic.Helpers.Interfaces
@using Epsilon.Logic.Constants.Enums
@using Epsilon.Logic.Constants.Interfaces
@using Epsilon.Logic.Services.Interfaces
@using Epsilon.Logic.Helpers

@{
    var countryVariantResourceHelper = DependencyResolver.Current.GetService<ICountryVariantResourceHelper>();
    var countryAddressFieldMetadata = DependencyResolver.Current.GetService<ICountryAddressFieldMetadata>();
    var countryService = DependencyResolver.Current.GetService<ICountryService>();
    
    var tmpEnumCountryId = EnumsHelper.CountryId.Parse(Model.CountryId);
    if (!tmpEnumCountryId.HasValue)
    {
        throw new Exception(string.Format("Uknown CountryId {0}.", Model.CountryId));
    }
    var enumCountryId = tmpEnumCountryId.Value;

    var fieldMetadata = countryAddressFieldMetadata.GetForCountry(enumCountryId);

    var countryVariantResources = countryVariantResourceHelper.GetVariantsForCountry(Model.CountryId,
        new List<CountryVariantResourceName> {
                    CountryVariantResourceName.Address_Line1,
                    CountryVariantResourceName.Address_Line2,
                    CountryVariantResourceName.Address_Line3,
                    CountryVariantResourceName.Address_Line4,
                    CountryVariantResourceName.Address_Locality,
                    CountryVariantResourceName.Address_Region,
                    CountryVariantResourceName.Address_Postcode
        });
}

<dl class="dl-horizontal">
    @if (fieldMetadata.Line1.IsUsed)
    {
        <dt>
            @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line1)]
        </dt>
        <dd>
            @Model.Line1
        </dd>
    }

    @if (fieldMetadata.Line2.IsUsed)
    {
        <dt>
            @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line2)]
        </dt>
        <dd>
            @Model.Line2
        </dd>
    }

    @if (fieldMetadata.Line3.IsUsed)
    {
        <dt>
            @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line3)]
        </dt>
        <dd>
            @Model.Line3
        </dd>
    }


    @if (fieldMetadata.Line4.IsUsed)
    {
        <dt>
            @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line4)]
        </dt>
        <dd>
            @Model.Line4
        </dd>
    }

    @if (fieldMetadata.Locality.IsUsed)
    {
        <dt>
            @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Locality)]
        </dt>
        <dd>
            @Model.Locality
        </dd>
    }

    @if (fieldMetadata.Region.IsUsed)
    {
        <dt>
            @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Region)]
        </dt>
        <dd>
            @Model.Region
        </dd>
    }

    @if (fieldMetadata.Postcode.IsUsed)
    {
        <dt>
            @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Postcode)]
        </dt>
        <dd>
            @Model.Postcode
        </dd>
    }

    <dt>
        @CommonResources.Country
    </dt>
    <dd>
        @countryService.GetDisplayName(Model.CountryId)
    </dd>
</dl>

<div class="row">
    <address-map data-address-unique-id="@Model.UniqueId" />
</div>

<hr />

<script src="https://maps.googleapis.com/maps/api/js"></script>