@using Epsilon.Logic.Constants
@using Epsilon.Logic.Helpers.Interfaces
@using System
@using System.Text
@{
    var appSettingsHelper = DependencyResolver.Current.GetService<IAppSettingsHelper>();
    var applicationName = appSettingsHelper.GetString(AppSettingsKeys.ApplicationName);
    var companyName = appSettingsHelper.GetString(AppSettingsKeys.CompanyName);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @applicationName</title>
    <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { 
        display: none !important; }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-ng-app="ngEpsilon">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(applicationName, 
                       User.Identity.IsAuthenticated 
                       ? AppConstants.AUTHENTICATED_USER_HOME_ACTION 
                       : AppConstants.ANONYMOUS_USER_HOME_ACTION, 
                       User.Identity.IsAuthenticated 
                       ? AppConstants.AUTHENTICATED_USER_HOME_CONTROLLER 
                       : AppConstants.ANONYMOUS_USER_HOME_CONTROLLER, 
                       new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                </ul>
                @Html.Partial("_NavBarRight")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Alerts")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @companyName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")


    @{
        var languageId = ViewContext.RouteData.Values["languageId"].ToString().ToLower();
        var sb = new StringBuilder();
        sb.Append(Request.Url.Scheme).Append("://").Append(Request.Url.Authority)
            .Append(Request.ApplicationPath.TrimEnd('/')).Append("/");
        var baseUrl = sb.ToString();

        sb.Append(languageId).Append("/");
        var baseUrlWithLanguage = sb.ToString();
    }

    <script type="text/javascript">
        angular.module('ngEpsilon.config', [])
            .constant('BASE_URL', '@baseUrl')
            .constant('BASE_URL_WITH_LANGUAGE', '@baseUrlWithLanguage')
            .constant('LANGUAGE_ID', '@languageId');
    </script>
    @Scripts.Render("~/bundles/ngapp")
    
    @RenderSection("scripts", required: false)
</body>
</html>
