@using Epsilon.Logic.Constants;
@using Epsilon.Logic.Helpers.Interfaces;
@using Epsilon.Logic.Services.Interfaces;
@using Epsilon.Resources.Common;
@using Microsoft.AspNet.Identity;

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
}
<ul class="nav navbar-nav navbar-right">

    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <a href="#" title="@CommonResources.TokenBalanceBadgeHoverText"><token-balance-badge /></a>
        </li>
    }
    @if (User.IsInRole(AspNetRole.Admin))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index", "Admin")">Admin</a></li>
                @{ 
                    var appSettingsHelper = DependencyResolver.Current.GetService<IAppSettingsHelper>();
                }
                @if (appSettingsHelper.GetBool(AppSettingsKey.EnableDevHelperController) == true)
                {
                    <li><a href="@Url.Action("Index", "DevHelper")">Dev Helper</a></li>
                }
            </ul>
        </li>
    }

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@CommonResources.Language <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @{
                 var languageService = DependencyResolver.Current.GetService<ILanguageService>();
                 var availableLanguages = languageService.GetAvailableLanguages();
            }
            @foreach (var language in availableLanguages)
            {
                <li><a href="@Url.Action(ViewContext.RouteData.GetRequiredString("action"), new { languageId = @language.Id })">@language.LocalName</a></li>
            }
        </ul>
    </li>

    @if (Request.IsAuthenticated)
    {
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@CommonResources.LogOff</a></li>
    }
    else
    {
        <li>@Html.ActionLink(CommonResources.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(CommonResources.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
        
</ul>
}

