@using Epsilon.Logic.Constants;
@using Epsilon.Logic.Helpers.Interfaces;
@using Epsilon.Logic.Services.Interfaces;
@using Epsilon.Resources.Common;
@using Epsilon.Resources.Web.Layout;
@using Microsoft.AspNet.Identity;
@using Epsilon.Logic.Models

@{ 
    var userInterfaceCustomisation = (UserInterfaceCustomisationModel)ViewBag.UserInterfaceCustomisation;
}

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
}
<ul class="nav navbar-nav navbar-right">

    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <a href="@Url.Action("Transactions","Token")" title="@CommonResources.TokenBalanceBadgeHoverText">
                <token-balance-badge />
            </a>
        </li>
    }

    @if (User.IsInRole(AspNetRole.Admin))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
               title="Admin">
                <span class="glyphicon glyphicon-console glyphicon-lg" aria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action("Index", "Admin")" title="Admin">Admin</a>
                </li>
                @{
                    var appSettingsHelper = DependencyResolver.Current.GetService<IAppSettingsHelper>();
                }
                @if (appSettingsHelper.GetBool(AppSettingsKey.EnableDevHelperController) == true)
                {
                    <li><a href="@Url.Action("Index", "DevHelper")">Dev Helper</a></li>
                }
            </ul>
        </li>
    }

    @if (User.IsInRole(AspNetRole.Admin) || User.IsInRole(AspNetRole.Translator))
    {
        <li>
            <a href="@Url.Action("List","TextResource")" title="Resources">
                <span class="glyphicon glyphicon-font glyphicon-lg" aria-hidden="true"></span>
            </a>
        </li>
    }

    @if (User.Identity.IsAuthenticated)
    {
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
           title="@LayoutResources.NavBar_ActionsGroup_HoverText">
            <span class="glyphicon glyphicon-asterisk glyphicon-lg" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu">
            @if (userInterfaceCustomisation != null && userInterfaceCustomisation.CanCreateTenancyDetailsSubmission)
            {
            <li>
                <a href="@Url.Action("SearchAddress", "Submission")" class="btn btn-default">
                    @LayoutResources.NavBar_ActionsGroup_NewSubmissionLinkText
                </a>
            </li>
            }
            @if (userInterfaceCustomisation != null && userInterfaceCustomisation.CanPickOutgoingVerification)
            {
            <li>
                @using (Html.BeginForm("Pick", "OutgoingVerification"))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="verificationUniqueId" value="@Guid.NewGuid()" />
                    <input type="hidden" name="returnToSummary" value="false" />
                    <input type="submit" value="@LayoutResources.NavBar_ActionsGroup_NewOutgoingVerificationLinkText" class="btn btn-default" />
                }
            </li>
            }
            <li>
                <a href="@Url.Action("SearchProperty", "PropertyInfo")" class="btn btn-default">
                    @LayoutResources.NavBar_ActionsGroup_SearchPropertyLinkText
                </a>
            </li>
        </ul>
    </li>
    }

    @if (!User.Identity.IsAuthenticated)
    {
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
           title="@CommonResources.Language">
            <span class="glyphicon glyphicon-flag glyphicon-lg" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu">
            @{
                var languageService = DependencyResolver.Current.GetService<ILanguageService>();
                var availableLanguages = languageService.GetAvailableLanguages();
            }
            @foreach (var language in availableLanguages)
            {
                <li><a href="@Url.Action(ViewContext.RouteData.GetRequiredString("action"), new { languageId = @language.Id })">@language.LocalName</a></li>
            }
        </ul>
    </li>
    }

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
           title="@LayoutResources.NavBar_InfoGroup_HoverText">
            <span class="glyphicon glyphicon-info-sign glyphicon-lg" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Faq", "Home")">@CommonResources.Faq_InFull</a></li>
            @if (Request.IsAuthenticated)
            {
            <li><a href="@Url.Action("Rewards", "Token")">@LayoutResources.NavBar_TokenRewards_LinkText</a></li>
            }
        </ul>
    </li>

    @if (Request.IsAuthenticated)
    {
        <li>
            <a href="@Url.Action("Index", "Manage")" title="@User.Identity.GetUserName()">
                <span class="glyphicon glyphicon-user glyphicon-lg" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()" title="@CommonResources.LogOff">
                <span class="glyphicon glyphicon-log-out glyphicon-lg" aria-hidden="true"></span>
            </a>
        </li>
    }
    else
    {
        <li>
            <a id="registerLink"
               href="@Url.Action("Register", "Account")"
               title="@CommonResources.Register">
                <span class="glyphicon glyphicon-edit glyphicon-lg" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a id="loginLink"
               href="@Url.Action("Login", "Account")" 
               title="@CommonResources.Login">
                <span class="glyphicon glyphicon-log-in glyphicon-lg" aria-hidden="true"></span>
            </a>
        </li>
    }
        
</ul>
}

