@model Epsilon.Logic.Forms.Submission.AddressForm

@using Epsilon.Logic.Constants.Enums
@using Epsilon.Resources.Common
@using Epsilon.Resources.Web.Submission
@using Epsilon.Logic.Helpers.Interfaces
@using Epsilon.Logic.Constants.Interfaces
@using Epsilon.Logic.Helpers
@using Epsilon.Logic.SqlContext.Mapping

@{
    ViewBag.Title = SubmissionResources.AddAddress_PageTitle;

    var countryVariantResourceHelper = DependencyResolver.Current.GetService<ICountryVariantResourceHelper>();
    var countryAddressFieldMetadata = DependencyResolver.Current.GetService<ICountryAddressFieldMetadata>();

    var tmpEnumCountryId = EnumsHelper.CountryId.Parse(Model.CountryId);
    if (!tmpEnumCountryId.HasValue)
    {
        throw new Exception(string.Format("Uknown CountryId {0}.", Model.CountryId));
    }
    var enumCountryId = tmpEnumCountryId.Value;

    var fieldMetadata = countryAddressFieldMetadata.GetForCountry(enumCountryId);

    var countryVariantResources = countryVariantResourceHelper.GetVariantsForCountry(Model.CountryId,
        new List<CountryVariantResourceName> {
                    CountryVariantResourceName.Address_Line1,
                    CountryVariantResourceName.Address_Line2,
                    CountryVariantResourceName.Address_Line3,
                    CountryVariantResourceName.Address_Line4,
                    CountryVariantResourceName.Address_Locality,
                    CountryVariantResourceName.Address_Region,
                    CountryVariantResourceName.Address_Postcode,
                    CountryVariantResourceName.Address_Line1_MaxLengthValidationMessage,
                    CountryVariantResourceName.Address_Line2_MaxLengthValidationMessage,
                    CountryVariantResourceName.Address_Line3_MaxLengthValidationMessage,
                    CountryVariantResourceName.Address_Line4_MaxLengthValidationMessage,
                    CountryVariantResourceName.Address_Locality_MaxLengthValidationMessage,
                    CountryVariantResourceName.Address_Region_MaxLengthValidationMessage,
                    CountryVariantResourceName.Address_Postcode_MaxLengthValidationMessage
        });
}

@using (Html.BeginForm("SaveAddress", "Submission"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>@SubmissionResources.AddAddress_PageHeader</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UniqueId)

        @if (fieldMetadata.Line1.IsUsed)
        {
            var label = @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line1)];
            var nameAndId = "Line1";
            var maxLength = AddressMap.LINE_MAX_LENGTH;
            var maxLengthValidationMessage = @countryVariantResources[EnumsHelper
                .CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line1_MaxLengthValidationMessage)];
        <div class="form-group">
            <label class="control-label col-md-3" for="@nameAndId">@label</label>
            <div class="col-md-9">
                <input class="form-control text-box single-line"
                       id="@nameAndId" name="@nameAndId" type="text" 
                       value="@Model.Line1"
                       data-val="true"
                       data-val-maxlength="@string.Format(maxLengthValidationMessage, maxLength)"
                       data-val-maxlength-max="@maxLength" />
                @Html.ValidationMessageFor(model => model.Line1, "", new { @class = "text-danger" })
            </div>
        </div>
        }

        @if (fieldMetadata.Line2.IsUsed)
        {
            var label = @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line2)];
            var nameAndId = "Line2";
            var maxLength = AddressMap.LINE_MAX_LENGTH;
            var maxLengthValidationMessage = @countryVariantResources[EnumsHelper
                .CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line2_MaxLengthValidationMessage)];
        <div class="form-group">
            <label class="control-label col-md-3" for="@nameAndId">@label</label>
            <div class="col-md-9">
                <input class="form-control text-box single-line"
                       id="@nameAndId" name="@nameAndId" type="text"
                       value="@Model.Line2"
                       data-val="true"
                       data-val-maxlength="@string.Format(maxLengthValidationMessage, maxLength)"
                       data-val-maxlength-max="@maxLength" />
                @Html.ValidationMessageFor(model => model.Line2, "", new { @class = "text-danger" })
            </div>
        </div>
        }

        @if (fieldMetadata.Line3.IsUsed)
        {
            var label = @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line3)];
            var nameAndId = "Line3";
            var maxLength = AddressMap.LINE_MAX_LENGTH;
            var maxLengthValidationMessage = @countryVariantResources[EnumsHelper
                .CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line3_MaxLengthValidationMessage)];
        <div class="form-group">
            <label class="control-label col-md-3" for="@nameAndId">@label</label>
            <div class="col-md-9">
                <input class="form-control text-box single-line"
                       id="@nameAndId" name="@nameAndId" type="text"
                       value="@Model.Line3"
                       data-val="true"
                       data-val-maxlength="@string.Format(maxLengthValidationMessage, maxLength)"
                       data-val-maxlength-max="@maxLength" />
                @Html.ValidationMessageFor(model => model.Line3, "", new { @class = "text-danger" })
            </div>
        </div>
        }


        @if (fieldMetadata.Line4.IsUsed)
        {
            var label = @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line4)];
            var nameAndId = "Line4";
            var maxLength = AddressMap.LINE_MAX_LENGTH;
            var maxLengthValidationMessage = @countryVariantResources[EnumsHelper
                .CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Line4_MaxLengthValidationMessage)];
        <div class="form-group">
            <label class="control-label col-md-3" for="@nameAndId">@label</label>
            <div class="col-md-9">
                <input class="form-control text-box single-line"
                       id="@nameAndId" name="@nameAndId" type="text"
                       value="@Model.Line4"
                       data-val="true"
                       data-val-maxlength="@string.Format(maxLengthValidationMessage, maxLength)"
                       data-val-maxlength-max="@maxLength" />
                @Html.ValidationMessageFor(model => model.Line4, "", new { @class = "text-danger" })
            </div>
        </div>
        }

        @if (fieldMetadata.Locality.IsUsed)
        {
            var label = @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Locality)];
            var nameAndId = "Locality";
            var maxLength = AddressMap.LOCALITY_MAX_LENGTH;
            var maxLengthValidationMessage = @countryVariantResources[EnumsHelper
                .CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Locality_MaxLengthValidationMessage)];
        <div class="form-group">
            <label class="control-label col-md-3" for="@nameAndId">@label</label>
            <div class="col-md-9">
                <input class="form-control text-box single-line"
                       id="@nameAndId" name="@nameAndId" type="text"
                       value="@Model.Locality"
                       data-val="true"
                       data-val-maxlength="@string.Format(maxLengthValidationMessage, maxLength)"
                       data-val-maxlength-max="@maxLength" />
                @Html.ValidationMessageFor(model => model.Locality, "", new { @class = "text-danger" })
            </div>
        </div>
        }

        @if (fieldMetadata.Region.IsUsed)
        {
            var label = @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Region)];
            var nameAndId = "Region";
            var maxLength = AddressMap.REGION_MAX_LENGTH;
            var maxLengthValidationMessage = @countryVariantResources[EnumsHelper
                .CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Region_MaxLengthValidationMessage)];
        <div class="form-group">
            <label class="control-label col-md-3" for="@nameAndId">@label</label>
            <div class="col-md-9">
                <input class="form-control text-box single-line"
                       id="@nameAndId" name="@nameAndId" type="text"
                       value="@Model.Region"
                       data-val="true"
                       data-val-maxlength="@string.Format(maxLengthValidationMessage, maxLength)"
                       data-val-maxlength-max="@maxLength" />
                @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
            </div>
        </div>
        }

        @if (fieldMetadata.Postcode.IsUsed)
        {
            var label = @countryVariantResources[EnumsHelper.CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Postcode)];
            var nameAndId = "Postcode";
            var maxLength = AddressMap.POSTCODE_MAX_LENGTH;
            var maxLengthValidationMessage = @countryVariantResources[EnumsHelper
                .CountryVariantResourceName.ToString(CountryVariantResourceName.Address_Postcode_MaxLengthValidationMessage)];
        <div class="form-group">
            <label class="control-label col-md-3" for="@nameAndId">@label</label>
            <div class="col-md-9">
                <input class="form-control text-box single-line"
                       id="@nameAndId" name="@nameAndId" type="text"
                       value="@Model.Postcode"
                       data-val="true"
                       data-val-maxlength="@string.Format(maxLengthValidationMessage, maxLength)"
                       data-val-maxlength-max="@maxLength" />
                @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
            </div>
        </div>
        }

        <div class="form-group">
            <label class="control-label col-md-3" for="CountryId">@CommonResources.Country</label>
            <div class="col-md-9">
                @Html.HiddenFor(model => model.CountryId)
                @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control", @disabled = "" })
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9 alert alert-info">
                <p><input type="checkbox" name="confirmedText" data-ng-model="confirmedText">
                    @SubmissionResources.AddAddress_ConfirmationText
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="@SubmissionResources.AddAddress_SubmitButton" 
                       class="btn btn-default"
                       disabled data-ng-disabled="!confirmedText"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(SubmissionResources.AddAddress_BackToSearchLink, "SearchAddress")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
