@model Epsilon.Web.Models.ViewModels.Submission.SearchAddressViewModel
@using Epsilon.Resources.Common
@using Epsilon.Resources.Web.Submission
@using Epsilon.Logic.Constants

@{
    ViewBag.Title = SubmissionResources.SearchAddress_PageTitle;
}

<h4>@SubmissionResources.SearchAddress_PageHeader</h4>
<hr />

<div class="form-horizontal" data-ng-controller="SubmissionAddressSearchController as controller">
    <div class="form-group row">
        <label class="control-label col-md-3" for="CountryId">@CommonResources.Country</label>
        <div class="col-md-9">
            <input id="countryId" name="countryId" type="hidden" value="" />
            <select class="form-control" id="countryId" name="countryId" data-ng-model="countryId" data-ng-change="controller.countryIdChanged()">
                <option value=""></option>
                @foreach (var country in Model.AvailableCountries)
                {
                <option value="@country.Id">@country.EnglishName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row" data-ng-cloak data-ng-show="countryId">
        <label class="control-label col-md-3" for="postcode">{{ controller.COUNTRY_VARIANT_RESOURCES[countryId].@CountryVariantResourceName.ADDRESS_POSTCODE }}</label>
        <div class="col-md-9">
            <input class="form-control text-box single-line" id="postcode" name="postcode" data-ng-model="postcode" />
        </div>
    </div>
    <div class="form-group row" data-ng-cloak data-ng-show="countryId">
        <label class="control-label col-md-3" for="postcode">@SubmissionResources.SearchAddress_SearchTermsLabel</label>
        <div class="col-md-9">
            <input class="form-control text-box single-line" id="terms" name="terms" data-ng-model="terms" />
        </div>
    </div>
    <div class="form-group row" data-ng-cloak data-ng-show="countryId">
        <div class="col-md-offset-3 col-md-9">
            <button type="button" class="btn btn-default" aria-label="Left Align" 
                    data-ng-click="controller.fetchSearchResults()"
                    data-ng-disabled="!postcode || searchInProgress">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> @SubmissionResources.SearchAddress_SearchButton
            </button>
        </div>
    </div>
    <div class="form-group" data-ng-cloak data-ng-show="addressSearchResponse">
        <div class="alert alert-info" data-ng-clock data-ng-if="addressSearchResponse.Results.length > 0">
            <p>@SubmissionResources.SearchAddress_SelectYourAddressMessage</p>
        </div>
        <div class="alert alert-warning" data-ng-clock data-ng-if="addressSearchResponse.IsResultsLimitReached">
            <p>{{ '@SubmissionResources.SearchAddress_NarrowDownYourSearchMessage' | stringFormat : addressSearchResponse.ResultsLimit }}</p>
        </div> 
        <table class="table table-striped">
            <tbody>
                <tr data-ng-repeat="add in addressSearchResponse.Results">
                    <td><input type="radio" name="radioSelectedAddressId" data-ng-model="$parent.selectedAddressId" ng-value="add.addressId"></td>
                    <td>{{add.fullAddress}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group row" data-ng-cloak data-ng-show="addressSearchResponse.Results.length > 0">
        <div class="col-md-offset-3 col-md-9">
            <a class="btn btn-default" aria-label="Left Align" 
               data-ng-href="@(Url.Action("UseAddress") + "/{{selectedAddressId}}")"
               data-ng-disabled="!selectedAddressId">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> @SubmissionResources.SearchAddress_UseSelectedAddressButton
            </a>
        </div>
    </div>

    <div class="form-group" data-ng-cloak data-ng-show="addressSearchResponse">
        <div class="alert alert-info" data-ng-clock data-ng-if="addressSearchResponse.Results.length === 0">
            <p>@SubmissionResources.SearchAddress_NoAddressesFoundMessage</p>
        </div>
        <div class="alert alert-info" data-ng-clock data-ng-if="addressSearchResponse.Results.length > 0 && !addressSearchResponse.IsResultsLimitReached">
            <p>@SubmissionResources.SearchAddress_AddYourAddressMessage</p>
        </div>
    </div>

    <div class="form-group row" data-ng-cloak data-ng-show="addressSearchResponse && !addressSearchResponse.IsResultsLimitReached">
        <div class="col-md-offset-3 col-md-9">
            @using (Html.BeginForm("AddAddress", "Submission"))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="countryId" data-ng-value="countryId" />
                <input type="hidden" name="postcode" data-ng-value="postcode" />
                <button type="submit" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @SubmissionResources.SearchAddress_AddNewAddressButton
                </button>
            }
        </div>
    </div>
</div>

@section CountryVariantResources {
    @using Epsilon.Web.Models.ViewModels.Shared
    @Html.Partial("_CountryVariantResources", new CountryVariantResourcesViewModel {
        Constant = "COUNTRY_VARIANT_RESOURCES",
        ResourceNames = new List<string> { CountryVariantResourceName.ADDRESS_POSTCODE }
    })
}