@model Epsilon.Web.Models.ViewModels.Submission.StartViewModel
@using Epsilon.Resources.Common
@using Epsilon.Resources.Submission

@{
    ViewBag.Title = SubmissionResources.FindYourAddress;
}

<h4>@SubmissionResources.FindYourAddress</h4>
<hr />

<div class="form-horizontal" data-ng-controller="SubmissionAddressSearchController as controller">
    <div class="form-group">
        <label class="control-label col-md-2" for="CountryId">@CommonResources.Country</label>
        <div class="col-md-10">
            <input id="countryId" name="countryId" type="hidden" value="" />
            <select class="form-control" id="countryId" name="countryId" data-ng-model="countryId">
                <option value=""></option>
                @foreach (var country in Model.AvailableCountries)
                {
                <option value="@country.Id">@country.EnglishName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group" data-ng-cloak data-ng-show="countryId">
        <label class="control-label col-md-2" for="postcode">Postcode</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="postcode" name="postcode" data-ng-model="postcode" />
        </div>
    </div>
    <div class="form-group" data-ng-cloak data-ng-show="countryId">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-default" aria-label="Left Align" 
                    data-ng-click="controller.FetchSearchResults()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button>
        </div>
    </div>
    <div class="form-group" data-ng-cloak data-ng-show="addressSearchResults">
        <p data-ng-clock data-ng-if="addressSearchResults.length === 0">@SubmissionResources.NoAddressesFoundMessage</p>
        <p data-ng-clock data-ng-if="addressSearchResults.length === 0">@SubmissionResources.AddYourAddressMessage</p>
        <table class="table table-striped">
            <tbody data-ng-repeat="add in addressSearchResults">
                <tr>
                    <td><input type="radio" name="radioSelectedAddressId" data-ng-model="$parent.selectedAddressId" ng-value="add.addressId"></td>
                    <td>{{add.fullAddress}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group" data-ng-cloak data-ng-show="hasHitSearch">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Address
            </button>
            @using (Html.BeginForm("UseAddress", "Submission"))
            {
            <input type="hidden" name="selectedAddressId" ng-value="selectedAddressId" />
            <button type="submit" class="btn-default" aria-label="Left Align" data-ng-cloak data-ng-show="selectedAddressId">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Use Selected Address
            </button>
            }
        </div>
    </div>
</div>