@model Epsilon.Logic.Forms.Submission.TenancyDetailsForm

@using Epsilon.Resources.Web.Submission
@{
    ViewBag.Title = SubmissionResources.SubmitTenancyDetails_PageTitle;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/bootstrap-datepicker")
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker();
        });
    </script>
}

@using (Html.BeginForm("SubmitTenancyDetailsSave", "Submission"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>@SubmissionResources.SubmitTenancyDetails_PageHeader</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.TenancyDetailsSubmissionUniqueId)
        @Html.HiddenFor(model => model.ReturnToSummary)

        <div class="form-group">
            <label class="control-label col-md-3" for="DisplayAddress">@SubmissionResources.Common_DisplayAddressLabel</label>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.DisplayAddress, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RentPerMonth, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="input-group form-control-with-addons">
                    <span class="input-group-addon">@Model.CurrencySybmol</span>
                    @Html.EditorFor(model => model.RentPerMonth, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.RentPerMonth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPartOfProperty, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.IsPartOfProperty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsPartOfProperty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfBedrooms, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.NumberOfBedrooms, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberOfBedrooms, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.IsFurnished, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.IsFurnished, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsFurnished, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="alert alert-info">
                <p>
                    <input type="checkbox" name="confirmedText" data-ng-model="confirmedText">
                    @SubmissionResources.SubmitTenancyDetails_ConfirmationText
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" class="btn btn-default"
                       disabled data-ng-disabled="!confirmedText"
                       value="@SubmissionResources.SubmitTenancyDetails_SubmitButtonText" />
            </div>
        </div>
    </div>
}

@using Epsilon.Logic.Constants
@using Epsilon.Resources.Common
@using Epsilon.Web.Controllers

<div>
    @if (Model.ReturnToSummary)
    {
        @Html.ActionLink(CommonResources.BackLinkText, SubmissionController.MY_SUBMISSIONS_SUMMARY_ACTION)
    }
    else
    {
        @Html.ActionLink(CommonResources.BackLinkText, AppConstant.AUTHENTICATED_USER_HOME_ACTION, AppConstant.AUTHENTICATED_USER_HOME_CONTROLLER)
    }
</div>