@model Epsilon.Web.Models.ViewModels.Submission.UseAddressViewModel
@using Epsilon.Resources.Web.Submission

@{
    ViewBag.Title = SubmissionResources.UseAddress_PageTitle;
}

<h4>@SubmissionResources.UseAddress_PageHeader</h4>
<hr />

@Html.Partial("_AddressDetails", Model.AddressDetails)

@using (Html.BeginForm("UseAddressConfirmed", "Submission"))
{

    <div class="form-horizontal">
        @Html.AntiForgeryToken()


        <div class="form-group">
            <div class="alert alert-info">
                <p><input type="checkbox" name="confirmedText" data-ng-model="confirmedText">
                    @SubmissionResources.UseAddress_ConfirmationText
                </p>
            </div>
        </div>

        <div class="form-group">
            <input type="hidden" name="submissionUniqueId" value="@Model.SubmissionUniqueId" />
            <input type="hidden" name="selectedAddressUniqueId" value="@Model.AddressDetails.UniqueId" />
            <div>
                <input type="submit" value="@SubmissionResources.UseAddress_SubmitButton" class="btn btn-default" data-ng-disabled="!confirmedText" />
            </div>
        </div>
    </div>
}
