@model Epsilon.Web.Models.ViewModels.Admin.DbAppSettingListViewModel

@{
    ViewBag.Title = "Database AppSettings";
}

<h2>@ViewBag.Title</h2>

@using Epsilon.Web.Models.ViewModels.Admin

@Html.Partial("_DbAppSettingLabelCloud", 
    new DbAppSettingLabelCloudViewModel { Labels = Model.AllLabels, SelectedLabel = Model.SelectedLabel })

@if (Model.Settings.Any())
{
    var first = Model.Settings.First();
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => first.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.ValueType)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Settings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "DbAppSettingDetails", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "DbAppSettingEdit", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
}
