@model Epsilon.Web.Models.ViewModels.TextResource.ListViewModel

@{
    ViewBag.Title = "Text Resources";
}

<h2>@ViewBag.Title</h2>

<p>

    @{
        var selectedLabelClass = "label-primary";
        var notSelectedLabelClass = "label-warning";
    }

    <a class="label @(Model.CultureCode == null ? selectedLabelClass : notSelectedLabelClass)"
       href="@Url.Action("List", "TextResource", new { id = (string)null })">
        Default
    </a>
    <text>&nbsp;</text>
    @foreach (var language in Model.Languages)
    {
        var labelClass = Model.CultureCode != null && Model.CultureCode.ToLowerInvariant().Equals(language.CultureCode.ToLowerInvariant())
            ? selectedLabelClass : notSelectedLabelClass;
        <a class="label @labelClass"
           href="@Url.Action("List", "TextResource", new { id = language.CultureCode })">
            @language.EnglishName
        </a>
        <text>&nbsp;</text>
    }
</p>

<p>
    <a href="@Url.Action("Download", "TextResource", new { id = Model.CultureCode})" 
       class="btn btn-primary">
        Download CSV
    </a>
</p>


@foreach (var resource in Model.Resources)
{
    <div class="panel panel-success">
        <div class="panel-heading"><h4>@resource.Type</h4></div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Default</th>
                        @if (Model.CultureCode != null)
                        {
                        <th>Local</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in resource.Entries)
                    {
                        <tr>
                            <td>
                                @entry.Name
                            </td>
                            <td>
                                @entry.DefaultValue
                            </td>
                            @if (Model.CultureCode != null)
                            {
                            <td>
                                @entry.LocalizedValue
                            </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}








