@using Epsilon.Logic.Helpers.Interfaces

@model IList<LocalizedResourceEntry>

@{
    ViewBag.Title = "";
}

<h2>@ViewBag.Title</h2>

<table>
    @foreach (var entry in Model)
    {
        <tr>
            <td>
                @entry.Type
            </td>
            <td>
                @entry.Name
            </td>
            <td>
                @entry.DefaultValue
            </td>
            <td>
                @entry.LocalizedValue
            </td>
        </tr>
    }
</table>








