@model Epsilon.Web.Models.RegisterViewModel

@using Epsilon.Resources.Web.Account
@using Epsilon.Resources.Common
@using Epsilon.Logic.Constants

@{
    ViewBag.Title = AccountResources.Register_PageTitle;
}

<h2>@(AccountResources.Register_PageHeader).</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    <div class="alert alert-info">
        @AccountResources.PasswordRequirements_OpeningSentence
        <ul>
            <li>@string.Format(AccountResources.PasswordRequirements_LengthBulletPoint, AppConstant.PASSWORD_REQUIRED_LENGTH)</li>
            <li>@AccountResources.PasswordRequirements_UppercaseBulletPoint</li>
            <li>@AccountResources.PasswordRequirements_LowercaseBulletPoint</li>
            <li>@AccountResources.PasswordRequirements_NumberBulletPoint</li>
            <li>@AccountResources.PasswordRequirements_SymbolBulletPoint</li>
        </ul>
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@CommonResources.Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
