@using Epsilon.Resources.Common
@using Epsilon.Resources.Web.Home
@{
    ViewBag.Title = HomeResources.Index_PageTitle;
}

<div class="jumbotron">
    <h1>@HomeResources.Index_Header</h1>
    <p class="lead"><b>@HomeResources.Index_MissionStatement_OpeningLine</b></p>
    <p class="lead">@HomeResources.Index_MissionStatement_Paragraph1</p>
    <p class="lead">@HomeResources.Index_MissionStatement_Paragraph2</p>
    <p>
        <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">@CommonResources.Register &raquo;</a>
        <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">@CommonResources.Login &raquo;</a>
    </p>
</div>

<div>
    <h3>@HomeResources.Index_HowItWorks_Header</h3>
    <ul class="list-group">
        <li class="list-group-item row">
            <div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-home glyphicon-lg" aria-hidden="true"></span>
                </div>
                <span class="col-md-11">@HomeResources.Index_HowItWorks_StepPickAddAddress_Text</span>
            </div>
        </li>
        <li class="list-group-item row">
            <div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-inbox glyphicon-lg" aria-hidden="true"></span>
                </div>
                <span class="col-md-11">@HomeResources.Index_HowItWorks_StepReceiveVerification_Text</span>
            </div>
        </li>
        <li class="list-group-item row">
            <div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-check glyphicon-lg" aria-hidden="true"></span>
                </div> 
                <span class="col-md-11">@HomeResources.Index_HowItWorks_StepEnterVerificationCode_Text</span>
            </div>
        </li>
        <li class="list-group-item row">
            <div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-info-sign glyphicon-lg" aria-hidden="true"></span>
                </div>
                <span class="col-md-11">@HomeResources.Index_HowItWorks_StepSubmitTenancyDetails_Text</span>
            </div>
        </li>
        <li class="list-group-item row">
            <div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-piggy-bank glyphicon-lg" aria-hidden="true"></span>
                </div>
                <span class="col-md-11">@HomeResources.Index_HowItWorks_StepSpendTokens_Text</span>
            </div>            
        </li>
        <li class="list-group-item row">
            <div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-envelope glyphicon-lg" aria-hidden="true"></span>
                </div>
                <span class="col-md-11">@HomeResources.Index_HowItWorks_StepHelpSendVerifications_Text</span>
            </div>
        </li>
    </ul>
    <p><a href="@Url.Action("Faq", "Home")" class="btn btn-primary">@CommonResources.Faq_InFull &raquo;</a></p>
</div>