@model Epsilon.Logic.Models.ViewPropertyInfoPropertyModel

@using Epsilon.Resources.Web.PropertyInfo
@using Epsilon.Logic.Infrastructure.Extensions

<div>
    <p>@Model.DisplayAddress</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@PropertyInfoResources.ViewInfo_SubmissionFieldSubmittedOn_Header</th>
                <th>@PropertyInfoResources.ViewInfo_SubmissionFieldRentPerMonth_Header</th>
                <th>@PropertyInfoResources.ViewInfo_SubmissionFieldNumberOfBedrooms_Header</th>
                <th>@PropertyInfoResources.ViewInfo_SubmissionFieldIsPartOfProperty_Header</th>
                <th>@PropertyInfoResources.ViewInfo_SubmissionFieldIsFurnished_Header</th>
                <th>@PropertyInfoResources.ViewInfo_SubmissionFieldPropertyConditionRating_Header</th>
                <th>@PropertyInfoResources.ViewInfo_SubmissionFieldLandlordRating_Header</th>
                <th>@PropertyInfoResources.ViewInfo_SubmissionFieldNeighboursRating_Header</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var submission in Model.CompleteSubmissions.OrderByDescending(x => x.SubmittedOn))
            {
                <tr>
                    <td>
                        <span am-time-ago="'@Html.Raw(submission.SubmittedOn.ToStringUnambiguous())'" 
                              title="{{ '@(submission.SubmittedOn.ToStringUnambiguous())' | localDateTime }}" >
                        </span>
                    </td>
                    <td>@submission.CurrencySymbol @submission.RentPerMonth</td>
                    <td>@submission.NumberOfBedrooms</td>
                    <td>@Html.Partial("_YesNo", @submission.IsPartOfProperty)</td>
                    <td>@Html.Partial("_YesNo", @submission.IsFurnished)</td>
                    <td>@Html.Partial("_StarRatingReadonly", @submission.PropertyConditionRating)</td>
                    <td>@Html.Partial("_StarRatingReadonly", @submission.LandlordRating)</td>
                    <td>@Html.Partial("_StarRatingReadonly", @submission.NeighboursRating)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

