@model Epsilon.Web.Models.ViewModels.PropertyInfo.GainAccessViewModel
@using Epsilon.Resources.Web.PropertyInfo

@{
    ViewBag.Title = PropertyInfoResources.GainAccess_PageTitle;
}

<h3>@PropertyInfoResources.GainAccess_PageHeader</h3>
<hr />

@Html.Partial("_AddressDetails", Model.AddressDetails)

@using (Html.BeginForm("GainAccessConfirmed", "PropertyInfo"))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="alert alert-info">
                <p><input type="checkbox" name="confirmedText" data-ng-model="confirmedText">
                    @string.Format(PropertyInfoResources.GainAccess_ConfirmationText, Model.TokensCost)
                </p>
            </div>
        </div>

        <div class="form-group">
            <input type="hidden" name="accessUniqueId" value="@Model.AccessUniqueId" />
            <input type="hidden" name="selectedAddressUniqueId" value="@Model.AddressDetails.UniqueId" />
            <div>
                <input type="submit" class="btn btn-default"
                       value="@PropertyInfoResources.GainAccess_SubmitButtonText"  
                       data-click-once disabled data-ng-disabled="!confirmedText" />
            </div>
        </div>
    </div>
}
