@{
    Layout = null;
}

@using Epsilon.Resources.Web.OutgoingVerification

<div class="panel panel-success"
     data-ng-cloak data-ng-if="response.tenantVerifications.length > 0">
    <div class="panel-heading">
        <h4 data-ng-cloak data-ng-show="response.moreItemsExist">@OutgoingVerificationResources.MyOutgoingVerificationsSummary_WithLimit_Header</h4>
        <h4 data-ng-cloak data-ng-show="!response.moreItemsExist">@OutgoingVerificationResources.MyOutgoingVerificationsSummary_Header</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@OutgoingVerificationResources.MyOutgoingVerificationsSummary_ProgressColumnHeader</th>
                    <th>@OutgoingVerificationResources.MyOutgoingVerificationsSummary_IdColumnHeader</th>
                    <th>@OutgoingVerificationResources.MyOutgoingVerificationsSummary_AddressAreaColumnHeader</th>
                    <th>@OutgoingVerificationResources.MyOutgoingVerificationsSummary_ActionsColumnHeader</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="ver in response.tenantVerifications">
                    <td>
                        <span data-ng-if="ver.markedAddrressInvalid"
                              title="@OutgoingVerificationResources.MyOutgoingVerificationsSummary_MarkedAddressAsInvalid_IconHoverText"
                              class="glyphicon glyphicon-remove" aria-hidden="true" />
                        <span data-ng-if="ver.stepVerificationSentOutDone"
                              title="@OutgoingVerificationResources.MyOutgoingVerificationsSummary_StepVerificationSentOutDone_IconHoverText"
                              class="glyphicon glyphicon-envelope" aria-hidden="true" />
                        <span data-ng-if="ver.stepVerificationReceivedDone"
                              title="@OutgoingVerificationResources.MyOutgoingVerificationsSummary_StepVerificationReceivedDone_IconHoverText"
                              class="glyphicon glyphicon-check" aria-hidden="true" />
                    </td>
                    <th>{{ver.uniqueId  | limitTo : 8 : 0}}</th>
                    <td>{{ver.addressArea}}</td>
                    <td>
                        <span data-ng-if="ver.canViewInstructions">
                            
                            <input type="hidden" name="verificationUniqueId" value="{{ver.uniqueId}}" />
                            <input type="hidden" name="returnToSummary" value="{{isSummaryPage}}" />
                            <a class="btn btn-default"
                               title="@OutgoingVerificationResources.MyOutgoingVerificationsSummary_ActionInstructions_ButtonHoverText"
                               ng-href="@Url.Action("Instructions","OutgoingVerification")/{{ver.uniqueId}}?returnToSummary={{isSummaryPage}}">
                                @OutgoingVerificationResources.MyOutgoingVerificationsSummary_ActionInstructions_ButtonText
                            </a>
                        </span>
                        <span data-ng-if="ver.canMarkAsSent">
                            @using (Html.BeginForm("MarkAsSent", "OutgoingVerification"))
                            {
                                @Html.AntiForgeryToken()

                                <input type="hidden" name="verificationUniqueId" value="{{ver.uniqueId}}" />
                                <input type="hidden" name="returnToSummary" value="{{isSummaryPage}}" />
                                <button class="btn btn-default" type="submit"
                                        title="@OutgoingVerificationResources.MyOutgoingVerificationsSummary_ActionMarkAsSent_ButtonHoverText"
                                        onclick="return confirm('@OutgoingVerificationResources.MyOutgoingVerificationsSummary_ActionMarkAsSent_ButtonConfirmationText')">
                                    @OutgoingVerificationResources.MyOutgoingVerificationsSummary_ActionMarkAsSent_ButtonText
                                </button>
                            }
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <p class="text-right" data-ng-cloak data-ng-show="response.moreItemsExist">
            @Html.ActionLink(OutgoingVerificationResources.MyOutgoingVerificationsSummary_ViewAllLinkText, "MyOutgoingVerificationsSummary", "OutgoingVerification")
        </p>
    </div>
</div>
