@{
    Layout = null;
}
@using Epsilon.Resources.Web.Submission

<div class="panel panel-info"
     data-ng-cloak data-ng-if="response.tenancyDetailsSubmissions.length > 0">
    <div class="panel-heading">
        <h4 data-ng-cloak data-ng-show="response.moreItemsExist">@SubmissionResources.MySubmissionsSummary_WithLimit_Header</h4>
        <h4 data-ng-cloak data-ng-show="!response.moreItemsExist">@SubmissionResources.MySubmissionsSummary_Header</h4>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@SubmissionResources.MySubmissionsSummary_ProgressColumnHeader</th>
                    <th>@SubmissionResources.MySubmissionsSummary_AddressColumnHeader</th>
                    <th>@SubmissionResources.MySubmissionsSummary_ActionsColumnHeader</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="subm in response.tenancyDetailsSubmissions">
                    <td>
                        <span data-ng-if="subm.stepVerificationCodeSentOutDone"
                              title="@SubmissionResources.MySubmissionsSummary_StepVerificationCodeSentOutDone_IconHoverText"
                              class="glyphicon glyphicon-envelope" aria-hidden="true" />
                        <span data-ng-if="subm.stepVerificationCodeEnteredDone"
                              title="@SubmissionResources.MySubmissionsSummary_StepVerificationCodeEnteredDone_IconHoverText"
                              class="glyphicon glyphicon-check" aria-hidden="true" />
                        <span data-ng-if="subm.stepTenancyDetailsSubmittedDone"
                              title="@SubmissionResources.MySubmissionsSummary_StepTenancyDetailsSubmittedDone_IconHoverText"
                              class="glyphicon glyphicon-info-sign" aria-hidden="true" />
                    </td>
                    <td>{{subm.displayAddress}}</td>
                    <td>
                        <span data-ng-if="subm.canEnterVerificationCode">
                            @using (Html.BeginForm("EnterVerificationCode", "Submission"))
                            {
                                @Html.AntiForgeryToken()

                                <input type="hidden" name="submissionUniqueId" value="{{subm.uniqueId}}" />
                                <input type="hidden" name="returnToSummary" value="{{isSummaryPage}}" />
                                <button class="btn btn-default" type="submit"
                                        title="@SubmissionResources.MySubmissionsSummary_ActionEnterVerificationCode_ButtonHoverText">
                                    @SubmissionResources.MySubmissionsSummary_ActionEnterVerificationCode_ButtonText
                                </button>
                            }
                        </span>
                        <span data-ng-if="subm.canSubmitTenancyDetails">
                            @using (Html.BeginForm("SubmitTenancyDetails", "Submission"))
                            {
                                @Html.AntiForgeryToken()

                                <input type="hidden" name="submissionUniqueId" value="{{subm.uniqueId}}" />
                                <input type="hidden" name="returnToSummary" value="{{isSummaryPage}}" />
                                <button class="btn btn-default" type="submit"
                                        title="@SubmissionResources.MySubmissionsSummary_ActionSubmitTenancyDetails_ButtonHoverText">
                                    @SubmissionResources.MySubmissionsSummary_ActionSubmitTenancyDetails_ButtonText
                                </button>
                            }
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <p class="text-right" data-ng-cloak data-ng-show="response.moreItemsExist">
            @Html.ActionLink(SubmissionResources.MySubmissionSummary_ViewAllLinkText, "MySubmissionsSummary", "Submission")
        </p>
    </div>
</div>



