@{
    Layout = null;
}
@using Epsilon.Resources.Web.Submission

<div data-ng-if="response.tenancyDetailsSubmissions.length > 0">
    <h3>@SubmissionResources.MySubmissionsSummary_Header</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@SubmissionResources.MySubmissionsSummary_ProgressColumnHeader</th>
                <th>@SubmissionResources.MySubmissionsSummary_AddressColumnHeader</th>
                <th>@SubmissionResources.MySubmissionsSummary_ActionsColumnHeader</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="subm in response.tenancyDetailsSubmissions">
                <td>
                    <!-- TODO_PANOS: fix the ng-if's, the logic is currently inverted. -->
                    <span data-ng-if="!subm.stepVerificationCodeSentOutDone" 
                          title="@SubmissionResources.MySubmissionsSummary_StepVerificationCodeSentOutDone_IconHoverText"
                          class="glyphicon glyphicon-envelope" aria-hidden="true" />
                    <span data-ng-if="!subm.stepVerificationCodeEnteredDone" 
                          title="@SubmissionResources.MySubmissionsSummary_StepVerificationCodeEnteredDone_IconHoverText"
                          class="glyphicon glyphicon-check" aria-hidden="true" />
                    <span data-ng-if="!subm.stepTenancyDetailsSubmittedDone" 
                          title="@SubmissionResources.MySubmissionsSummary_StepTenancyDetailsSubmittedDone_IconHoverText"
                          class="glyphicon glyphicon-info-sign" aria-hidden="true" />
                    <span data-ng-if="!subm.stepMoveOutDetailsSubmittedDone" 
                          title="@SubmissionResources.MySubmissionsSummary_StepMoveOutDetailsSubmittedDone_IconHoverText"
                          class="glyphicon glyphicon-log-out" aria-hidden="true" />
                </td>
                <td>{{subm.displayAddress}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p class="text-right" data-ng-cloak data-ng-show="response.moreItemsExist">
        @Html.ActionLink(SubmissionResources.MySubmissionSummary_ViewAllLinkText, "MySubmissionsSummary", "Submission")
    </p>
</div>

<!--
        canEnterVerificationCode;
        canSubmitTenancyDetails;
        canSubmitMoveOutDetails;
-->



