@{
    Layout = null;
}
@using Epsilon.Resources.Web.Submission

<div data-ng-cloak data-ng-if="response.tenancyDetailsSubmissions.length > 0">
    <h3 data-ng-cloak data-ng-show="response.moreItemsExist">@SubmissionResources.MySubmissionsSummary_WithLimit_Header</h3>
    <h3 data-ng-cloak data-ng-show="!response.moreItemsExist">@SubmissionResources.MySubmissionsSummary_Header</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@SubmissionResources.MySubmissionsSummary_ProgressColumnHeader</th>
                <th>@SubmissionResources.MySubmissionsSummary_AddressColumnHeader</th>
                <th>@SubmissionResources.MySubmissionsSummary_ActionsColumnHeader</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="subm in response.tenancyDetailsSubmissions">
                <td>
                    <span data-ng-if="subm.stepVerificationCodeSentOutDone" 
                          title="@SubmissionResources.MySubmissionsSummary_StepVerificationCodeSentOutDone_IconHoverText"
                          class="glyphicon glyphicon-envelope" aria-hidden="true" />
                    <span data-ng-if="subm.stepVerificationCodeEnteredDone" 
                          title="@SubmissionResources.MySubmissionsSummary_StepVerificationCodeEnteredDone_IconHoverText"
                          class="glyphicon glyphicon-check" aria-hidden="true" />
                    <span data-ng-if="subm.stepTenancyDetailsSubmittedDone" 
                          title="@SubmissionResources.MySubmissionsSummary_StepTenancyDetailsSubmittedDone_IconHoverText"
                          class="glyphicon glyphicon-info-sign" aria-hidden="true" />
                    <span data-ng-if="subm.stepMoveOutDetailsSubmittedDone" 
                          title="@SubmissionResources.MySubmissionsSummary_StepMoveOutDetailsSubmittedDone_IconHoverText"
                          class="glyphicon glyphicon-log-out" aria-hidden="true" />
                </td>
                <td>{{subm.displayAddress}}</td>
                <td>
                    <span data-ng-if="subm.canEnterVerificationCode">
                        @using (Html.BeginForm("EnterVerificationCode", "Submission"))
                        {
                            @Html.AntiForgeryToken()

                            <input type="hidden" name="submissionUniqueId" value="{{subm.uniqueId}}" />
                            <input type="hidden" name="returnToSummary" value="{{isSummaryPage}}" />
                            <button class="btn btn-default" type="submit" data-click-once
                                    title="@SubmissionResources.MySubmissionsSummary_ActionEnterVerificationCode_ButtonHoverText">
                                @SubmissionResources.MySubmissionsSummary_ActionEnterVerificationCode_ButtonText
                            </button>
                        }
                    </span>
                    <span data-ng-if="subm.canSubmitTenancyDetails">
                        @using (Html.BeginForm("SubmitTenancyDetails", "Submission"))
                        {
                            @Html.AntiForgeryToken()

                            <input type="hidden" name="submissionUniqueId" value="{{subm.uniqueId}}" />
                            <input type="hidden" name="returnToSummary" value="{{isSummaryPage}}" />
                            <button class="btn btn-default" type="submit" data-click-once
                                    title="@SubmissionResources.MySubmissionsSummary_ActionSubmitTenancyDetails_ButtonHoverText">
                                @SubmissionResources.MySubmissionsSummary_ActionSubmitTenancyDetails_ButtonText
                            </button>
                        }
                    </span>
                    <span data-ng-if="subm.canSubmitMoveOutDetails">
                        @using (Html.BeginForm("SubmitMoveOutDetails", "Submission"))
                        {
                            @Html.AntiForgeryToken()

                            <input type="hidden" name="submissionUniqueId" value="{{subm.uniqueId}}" />
                            <input type="hidden" name="returnToSummary" value="{{isSummaryPage}}" />
                            <button class="btn btn-default" type="submit" data-click-once
                                    title="@SubmissionResources.MySubmissionsSummary_ActionSubmitMoveOutDetails_ButtonHoverText">
                                @SubmissionResources.MySubmissionsSummary_ActionSubmitMoveOutDetails_ButtonText
                            </button>
                        }
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="text-right" data-ng-cloak data-ng-show="response.moreItemsExist">
        @Html.ActionLink(SubmissionResources.MySubmissionSummary_ViewAllLinkText, "MySubmissionsSummary", "Submission")
    </p>
</div>



